.btn-deletar-produto{
    background-color: transparent;
    border-style: none;
    width: 50px;
    cursor: pointer;
    color: var(--cinza-claro);
}
.btn-deletar-produto:hover{
    color:var(--verde);
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 50rem;
    gap: 3rem;
  }
.modal-buttons{
    max-width: 200px;
    justify-content: center;
    align-items: center;
}
.modal-buttons button{
    margin-bottom: 1rem;
    background-color: var(--cinza-claro);
    border: 3px solid var(--cinza-claro);
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.secao-editar-produto {
    margin-left: -2rem;
    text-align: center;
    background-color: var(--nude);
    border: 6px solid var(--nude);
    
    
}
.secao-editar-produto input{
    color: var(--azul-escuro);
    background: transparent;
    text-align: center;
    border-style: none;
    font-weight: bold;
}

.secao-editar-produto button{ 
    background: var(--verde);
    border-radius:  5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
}